In [425]:
# Dependencies and Setup
import pandas as pd

# load and read file, store into pandas dataframe
file_to_load = "Resources/purchase_data.csv"

purchase_data_df = pd.read_csv(file_to_load)

In [426]:
purchase_data_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [427]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

In [428]:
# Use .nunique to find the number of unique screen names, assign to a variable
total_players=purchase_data_df["SN"].nunique()

# create dataframe
players_df=pd.DataFrame({
    'Total Players': [total_players]
})

# display dataframe
players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

In [429]:
# Find the number of unique items
unique_items=purchase_data_df["Item ID"].nunique()

In [430]:
# Find total number of purchases
total_purchases=purchase_data_df["Purchase ID"].count()

In [431]:
# Find total revenue, then use to find average price
total_revenue=purchase_data_df["Price"].sum()
avg_price=purchase_data_df["Price"].mean()

In [432]:
# Create dataframe using a list of dictionaries
summary_data = {
    'Number of Unique Items':[unique_items],
    'Average Price':[avg_price],
    'Number of Purchases':[total_purchases],
    'Total Revenue':[total_revenue]
}
summary_df=pd.DataFrame(summary_data)

In [433]:
# Format and display
summary_df.loc[:,'Average Price']=summary_df.loc[:,'Average Price'].map("${:,.2f}".format)
summary_df.loc[:,'Total Revenue']=summary_df.loc[:,'Total Revenue'].map("${:,.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [434]:

# Find count of unique screennames grouped by Gender
gender_count=purchase_data_df.groupby('Gender').nunique()['SN']

# Find total count of unique screennames
sn_count=purchase_data_df['SN'].nunique()

# Calculate percentage by gender
gender_pct=gender_count/sn_count

In [435]:
# Create a summary dataframe
new_columns={
    'Total Count':gender_count,
    'Percentage of Players': gender_pct
}

gender_demo_df=pd.DataFrame(new_columns)

# Format, sort, and display
gender_demo_df.loc[:, 'Percentage of Players']=gender_demo_df.loc[:,'Percentage of Players'].map("{:,.2%}".format)

gender_demo_df.index.name = None
gender_demo_df.sort_values('Percentage of Players', ascending=False)

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [436]:
# Pull relevant columns
purchase_analysis_df=purchase_data_df.loc[:, ['Gender', 'Price', 'Purchase ID']]

# Use .groupby to find purchases made by gender
grouped_pa_df=purchase_analysis_df.groupby(['Gender'])

# Calculate purchase count by gender
purchase_count=grouped_pa_df['Purchase ID'].count()

In [437]:
# Find total purchase value
tot_value=grouped_pa_df['Price'].sum()

In [438]:
grouped_pa_df.head()

                    Gender  Price  Purchase ID
0                     Male   3.53            0
1                     Male   1.56            1
2                     Male   4.88            2
3                     Male   3.27            3
4                     Male   1.44            4
9    Other / Non-Disclosed   3.58            9
15                  Female   2.89           15
18                  Female   4.90           18
22   Other / Non-Disclosed   3.81           22
38                  Female   4.18           38
41                  Female   1.33           41
55                  Female   3.79           55
82   Other / Non-Disclosed   4.40           82
111  Other / Non-Disclosed   4.75          111
228  Other / Non-Disclosed   3.39          228

In [439]:
grouped_pa_df['Price'].count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [440]:
# Find average total purchase per person 
sn_count=gender_demo_df.loc[:, 'Total Count']
avg_per_person=tot_value/sn_count

In [441]:
grouped_pa_df['Price'].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [442]:
pa_columns={
    "Purchase Count": purchase_count,
    "Average Purchase Price":avg_price_gen,
    "Total Purchase Value": tot_value,
    "Avg Total Purchase per Person": avg_per_person
}

# use purchase analysis df as a base and rename with new columns
pa_gen_df=pd.DataFrame(pa_columns)

In [443]:
# Format and display
pa_gen_df.loc[:,'Average Purchase Price']=pa_gen_df.loc[:,'Average Purchase Price'].map("${:,.2f}".format)
pa_gen_df.loc[:,'Total Purchase Value']=pa_gen_df.loc[:,'Total Purchase Value'].map("${:,.2f}".format)
pa_gen_df.loc[:,'Avg Total Purchase per Person']=pa_gen_df.loc[:,'Avg Total Purchase per Person'].map("${:,.2f}".format)
pa_gen_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [444]:
# Create bins for ages
manual_bins = [0, 9.9,14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [445]:
# Bin Age values into above intervals, create a new column
purchase_data_df.loc[:, "Age Group"]=pd.cut(purchase_data_df["Age"], bins=manual_bins, labels=group_names, include_lowest=True)

In [446]:
# Create groupby object based on age group
age_df=purchase_data_df.groupby('Age Group')

# Count unique screennames by age
age_count=age_df['SN'].nunique()

In [447]:
# Calculate numbers and percentages by age group
age_pct=age_count/total_players

In [448]:
# Create a summary data frame to hold the results
age_columns={
    "Total Count": age_count,
    "Percentage of Players": age_pct
}

age_demo_df=pd.DataFrame(age_columns)

In [449]:
# Format and display df
age_demo_df.loc[:, 'Percentage of Players']=age_demo_df.loc[:,'Percentage of Players'].map("{:,.2%}".format)
age_demo_df.index.name = None
age_demo_df.head(10)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

In [450]:
# Bin the purchase_data data frame by age
manual_bins = [0, 9.9,14.9, 19.9, 24.9, 29.99, 34.99, 39.99, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df.loc[:, "Age Group"]=pd.cut(purchase_data_df["Age"], bins=manual_bins, labels=group_names, include_lowest=True)

In [451]:
# Create a group based off of age bins
age_df=purchase_data_df.groupby('Age Group')

In [462]:
# Calculate purchase count
age_purchase_cnt=age_df['Purchase ID'].count()

# Calcuclate Total purchase price
age_cum_price=age_df['Price'].sum()

# Calculate avg purchase price
age_avg_purchase_price=age_df['Price'].mean()

# Calculate average purchase total per person
age_avg_pp=age_cum_price/age_count

In [463]:
# Create a summary data frame to hold the results
age_purchase_columns={
    "Purchase Count": age_purchase_cnt,
    "Average Purchase Price": age_avg_purchase_price,
    "Total Purchase Value": age_cum_price,
    "Avg Total Purchase per Person": age_avg_pp
}

age_summary_df=pd.DataFrame(age_purchase_columns)
age_summary_df.index.name = "Age Ranges"

In [464]:
# Format and display
age_summary_df.style.format("${:,.2f}", subset=['Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person'])

## Top Spenders

In [465]:
# Pull relevant columns
top_spender_df=purchase_data_df.loc[:, ["SN","Purchase ID", "Price"]]

In [466]:
# Calculate number of spenders
spender_count=top_spender_df["SN"].value_counts()

In [467]:
# Group purchases by screenname 
grouped_spender_df=top_spender_df.groupby('SN')

In [468]:
# Find cumulative spending 
cum_sn_spending=grouped_spender_df["Price"].sum()

In [469]:
sn_avg_purchase=grouped_spender_df["Price"].mean()

In [470]:
# Create a summary data frame to hold the results
top_spender_columns={
    "Purchase Count": spender_count,
    "Average Purchase Price": sn_avg_purchase,
    "Total Purchase Value": cum_sn_spending
}

top_spender_df=pd.DataFrame(top_spender_columns)
top_spender_df.index.name="SN"

In [471]:
# Sort the total purchase value column in descending order
top_spender_df=top_spender_df.sort_values('Total Purchase Value', ascending=False)

In [472]:
# Format
top_spender_df['Average Purchase Price']=top_spender_df['Average Purchase Price'].map("${:,.2f}".format)
top_spender_df['Total Purchase Value']=top_spender_df['Total Purchase Value'].map("${:,.2f}".format)

In [473]:
# Display a preview of the summary data frame
top_spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [474]:
# Retrieve relevant columns
items_df=purchase_data_df.loc[:, ['Item ID', 'Item Name', 'Price']]

In [475]:
# Group by Item ID and Item Name. 
grouped_items_df=items_df.groupby(['Item ID', 'Item Name'])
grouped_items_df.count()

# Find purchase count, average item price, and total purchase value
purchase_count=grouped_items_df['Item ID'].count()
item_cum_value=grouped_items_df['Price'].sum()
avg_item_price=grouped_items_df['Price'].mean()

In [476]:
# Create a summary data frame to hold the results
item_summary_columns={
    "Purchase Count": purchase_count,
    "Average Item Price": avg_item_price,
    "Total Purchase Value": item_cum_value
}

item_summary_df=pd.DataFrame(item_summary_columns)
item_summary_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50

In [477]:
# Sort df by purchase count and display preview
clean_item_df=item_summary_df.sort_values(by=['Purchase Count'], ascending=False)
clean_item_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [478]:
# Give the displayed data cleaner formatting
clean_item_df['Average Item Price']=clean_item_df['Average Item Price'].map("${:,.2f}".format)
clean_item_df['Total Purchase Value']=clean_item_df['Total Purchase Value'].map("${:,.2f}".format)

In [479]:
# * Display a preview of the summary data frame
clean_item_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [480]:
# Cast "Total Purchase Value" as float in order to use .format
item_summary_df.loc[:,'Total Purchase Value']=item_summary_df.loc[:,'Total Purchase Value'].astype(float)

In [481]:
# Sort by "Total Purchase Value"
tpv_sorted_df=item_summary_df.sort_values(by=['Total Purchase Value'], ascending=False)

In [482]:
# Format
tpv_sorted_df['Average Item Price']=tpv_sorted_df['Average Item Price'].map("${:,.2f}".format)
tpv_sorted_df['Total Purchase Value']=tpv_sorted_df['Total Purchase Value'].map("${:,.2f}".format)

In [483]:
tpv_sorted_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80